*
!examples/
!examples/*.c
!examples/*.py
!examples/*.cpp
!examples/IPCtest
!examples/IPCtest/
!examples/IPCtest/results
!examples/IPCtest/results/*.txt
!.gitignore
!notes.txt
!examples/hello
!examples/hello/src
!examples/hello/src/*.java
!examples/results
!examples/results/*.txt