*
!examples/
!examples/*.c
!examples/*.py
!examples/*.cpp
!examples/*.r
!examples/*.hs
!examples/*.php
!.gitignore
!notes.txt
!examples/hello
!examples/hello/src
!examples/hello/src/*.java
!examples/results
!examples/results/*.txt
!examples/results/DIEHARD
!examples/results/DIEHARD/*.txt